.header
  .header__main
    .header__main--top
      .header__main--top-icon
        = link_to root_path do
          LookForDarts
    .header__main--bottom
      .header__main--bottom-right
      .review
        -# = link_to "#"  do
      .maker-name
        %ul
          %li
            %a
              ダーツを探す
              %span.caret
            %div
              %ul
                %li
                  = link_to posts_path  do
                    口コミから
                %li
                  = link_to categories_path do
                    カテゴリーから
                %li
                  = link_to makers_path do
                    メーカーから
      - if user_signed_in?
        .maker-name
          %ul
            %li
              %a
                = current_user.name
                %span.caret
              %div
                %ul
                  %li
                    = link_to edit_user_registration_path(current_user) do
                      ユーザー編集
                  %li
                    = link_to "/users/#{current_user.id}" do
                      投稿一覧
                  %li
                    = link_to destroy_user_session_path,method: :delete do
                      ログアウト
        .maker-name
          %ul
            %li
              %a
                = link_to new_post_path  do
                  口コミ投稿
      - else
        .maker-name
          %ul
            %li
              %a
                = link_to new_user_session_path do
                  ログイン
        .maker-name
          %ul
            %li
              %a
                = link_to new_user_registration_path do
                  新規登録
