.app
  .app__main
    .app__main--top
      気になるダーツを探してみよう
    .app__main--midle
      おすすめオンラインショップ
    .app__main--bottom
      =link_to url="https://www.s-darts.com/" ,class:"cbtn"do
        = image_tag 'sdarts.jpg',  height: '80', width: '120', class: 'iamge3'
      =link_to url="https://www.dartshive.jp/" ,class:"cbtn" do
        = image_tag 'dartshive.jpg',  height: '80', width: '120', class: 'iamge3'
      =link_to url="https://www.tito-shop.com/" ,class:"cbtn" do
        = image_tag 'tito.jpg',  height: '80', width: '120', class: 'iamge3'
      =link_to url="http://www.natural-9.jp/shopbrand/n9/" ,class:"cbtn" do
        = image_tag 'nine.jpg',  height: '80', width: '120', class: 'iamge3'
      =link_to url="https://www.maximnet.co.jp/" ,class:"cbtn" do
        = image_tag 'maxim.jpg',  height: '80', width: '120', class: 'iamge3'