= render 'shared/header'
.main
  .main__top
    .main__top--content
      %h2 お気に入りのダーツを共有しよう
.contain
  .contain__title
    .contain__title__text
      %h2 LookForDartsとは
      %h4 ダーツってたくさん種類があって迷いますよね？
      %h4 そんな方へのおすすめのダーツの口コミ共有サービスです。
  .main-page
    .product
      .product__new
        %h3 新着口コミ
    .products
      - @posts.each do |post|
        .products__item
          .products__item__image
            = link_to "#" do
              =image_tag 'furaito.jpg', height: '100%', width: '100%', class: 'iamge10'
          .products__item__body
            .products__item__body__title 
              %a
                = link_to "#" do
                  = post.title
            .products__item__body__category
              %ul
                種類 :
                %li
                  = link_to "#" do
                    フライト
            .products__item__body__maker
              %ul
                メーカー :
                %li
                  = link_to "#" do
                    ターゲット
            .products__item__body__name
              %ul
                投稿者 :
                %li
                  = link_to post.user.name, user_posts_posts_path(user_id: post.user.id)
= render 'shared/shop'
= render 'shared/footer'
