= render 'shared/header'
.content
  .content__top
    .content__top__title
      口コミ一覧
    .content__top__search
      = form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form|
        = form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input"
        = form.submit "検索", class: "search-btn"
    .content__top__category
      - @posts.each do |post|
        .products
          .products__item-image
            =image_tag 'furaito.jpg', height: '100%', width: '100%', class: 'iamge10'
          .products__item-body
            .products__item-body__title
              = link_to "#" do
                = post.title
            .products__item-body__category
              %ul
                種類：
                %li
                  
            .products__item__body__maker
              %ul
                メーカー：
                %li
                  
            .products__item__body__name
              %ul
                投稿者：
                %li
                  
      .paginate
        =paginate(@posts)
= render 'shared/footer'