= render 'shared/header'
#account-page.account-page
  .account-page__inner.clearfix
    .account-page__inner--left.account-page__header
      %h2 口コミ投稿
    .account-page__inner--right.user-form
      = form_for(@post) do |f|
        .field
          .field-label
            = f.label :タイトル
            %i (必須)
          .field-input
            = f.text_field :title, placeholder: "商品名（必須40文字まで）"
        .field
          .field-label
            = f.label :画像
            %i (必須)
          .field-input
            -# = form_for @post do |f|
            -#   = f.file_field :image
        .field
          .field-label
            = f.label :ダーツ種類
            %i (必須)
          .field-Choose
            = f.collection_select(:category_id, Category.all, :id, :name,prompt: "カテゴリーを選択してください", class: "form")
        .field
          .field-label
            = f.label :メーカー
          .field-Choose
            = f.collection_select(:maker_id, Maker.all, :id, :name, prompt: "メーカーを選択してください", class: "form")
        .field
          .field-label
            = f.label :詳細
            %i (必須)
          .field-input
            = f.text_area :text, size: "30x5", placeholder: "使ってみた感想（必須）"
        .actions
          = f.submit "投稿", class: 'btn'
= render 'shared/footer'
