= render 'shared/header'
#account-page.account-page
  .account-page__inner.clearfix
    .account-page__inner--left.account-page__header
      %h2 口コミ投稿
    .account-page__inner--right.user-form
      = form_for(@post) do |f|
        .field
          .field-label
            = f.label :タイトル
            %i (必須)
          .field-input
            = f.text_field :title
        .field
          .field-label
            = f.label :画像
            %i (必須)
          .field-input
            %form{:enctype => "multipart/form-data", :method => "post"}
              %input{:accept => "image/*", :name => "userfile", :type => "file",:class => "image"}/
            -# = f.file_filed :products_id
        .field
          .field-label
            = f.label :ダーツ種類
            %i (必須)
          .field-input
            -# = f.collection_select(:category_id, Category.all, :id, :name,{prompt: "カテゴリーを選択してください"})
        .field
          .field-label
            = f.label :メーカー
          .field-input
            -# = f.collection_select(:maker_id, Maker.all, :id, :name,{prompt: "メーカーを選択してください"})
        .field
          .field-label
            = f.label :詳細
          .field-input
            = f.text_area :text, size: "30x5"
        .actions
          = f.submit "投稿", class: 'btn'
= render 'shared/footer'
