= render 'shared/header'
.product
  .product__top
    .product__top__title
      投稿詳細
    .product__top__category
  .product__main
    .product__main__item
      .product__main__item__image
        =image_tag 'furaito.jpg', height: '100%', width: '100%'
      .product__main__item__name
        .product__main__item__name__title
          ダーツのフライト
        .table
          %table
            %tr
              %th.name 投稿者
              %td
                -# = link_to post.user.name, user_posts_posts_path(user_id: post.user.id)
            %tr
              %th.category カテゴリー
              %td
                = link_to "#" do
                  フライト
            %tr
              %th.maker メーカー
              %td
                = link_to "#" do
                  LSTYLE
            %tr
              %th.text 説明
              %td.text とてもデザインがかっこいしいけています。しかもかなりオシャレこれはとてももいいよね。めっちゃおすすめだよ。買わないと損するよ。みんな買っちゃえ。
  .comment
    .comment__main
      .comment__main__item
        - if current_user
          = form_with(model: [@post, @comment],local: true) do |form|
            = form.text_area :text, placeholder: "コメントする",rows:"4" 
            = form.submit "コメントする"
        - else
          %strong
            %p ※コメント投稿には新規登録/ログインが必要です※
      .comments
        .comments__title
          %h6 <コメント一覧>
      .message
        .message__main
          - if @comments
            - @comments.each do |comment|
              .message__main__content
                .message__main__content__left
                  = link_to comment.user.name, "/users/#{comment.user_id}"
                .message__main__content__right
                  = comment.text
= render 'shared/footer'